{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-wrap w-100 ph4">
    <header class="mt4 w-100 tc">
      <aside class="instapaper_ignoref b helvetica tracked">
        {{with .CurrentSection.Title }}{{. | upper }}{{end}}
      </aside>
      {{ partial "social-share.html" . }}
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>
      {{ with .Params.author }}
      <p class="tracked">
          By <strong>
          {{ if reflect.IsSlice . }}
              {{ delimit . ", " | markdownify }}
          {{else}}
              {{ . | markdownify }}
          {{ end }}
          </strong>
      </p>
      {{ end }}

      <time class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "January 2, 2006" -}}
      </time>

      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes read</span>
        <span class="f6 mv4 dib tracked"> - {{ .WordCount}} words</span>
      {{ end }}
    </header>
    <div class="nested-copy-line-height lh-copy {{ $.Param "article_content_classes"  | default "serif"}} f4 nested-links nested-img mid-gray center w-100 w-75-ns">
      {{- partial "tags.html" . -}}
      {{- .Content -}}
    </div>
    {{- partial "subscribe.html" . -}}
  </article>
{{ end }}
